@{
    ViewData["Title"] = "Home Page";
}

<h1>Băm/Mã hóa nội dung</h1>

<form method="post" asp-action="Encrypt">
    <input type="text" name="inputText" placeholder="Nhập nội dung..." style="width: 300px;" />
    <button type="submit">Xử lý</button>
</form>

@if (ViewBag.Result != null)
{
    <h2>Kết quả:</h2>
    <p>@ViewBag.Result</p>
}
